#!/usr/bin/env bash

# Restarts the WinRM and IP Helper service which might be required after starting a host

sshpass \
    -p {{ ansible_password }} \
    ssh \
    -o "StrictHostKeyChecking=no" \
    -o "UserKnownHostsFile=/dev/null" \
    -o "LogLevel=ERROR" \
    -p 22 \
    {{ ansible_user }}@test.{{ domain_realm }} \
    powershell.exe -Command "Restart-Service -Name iphlpsvc, winrm"

