#!/usr/bin/env bash

sshpass \
    -p vagrant \
    ssh \
    -o "ControlPath=cp/ssh-%r@%h:%p" \
    -o "StrictHostKeyChecking=no" \
    -o "UserKnownHostsFile=/dev/null" \
    -o "LogLevel=ERROR" \
    -O stop \
    -p 22 \
    vagrant@squid.{{ domain_realm }}

