#!/usr/bin/env bash

sshpass \
    -p {{ ansible_password }} \
    ssh \
    -o "ControlPath=cp/ssh-%r@%h:%p" \
    -o "StrictHostKeyChecking=no" \
    -o "UserKnownHostsFile=/dev/null" \
    -o "LogLevel=ERROR" \
    -O stop \
    -p 22 \
    {{ ansible_user }}@squid.{{ domain_realm }}

